body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.428571429;
  color: #333333;
  
  text-align:center;
  margin:0px;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
video{
	margin-top: 20px;
	width:600px;
	height:300px;
	
}
#main{
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:2100px;
	background:#FFF;
}
